<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Add a new</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

                        <script src="https://cdn.tiny.cloud/1/z0geygkznk35522ovyceon7qwjaizobafsje4l5x89dzcrk5/tinymce/5/tinymce.min.js"></script>

                        <script type="text/javascript" th:src="@{/js/tinymce.js}"></script>
                        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>      

                        </head>
                        <body>

                            

                                <div class="row 12">
                                    <div class="Banner">
                                        <div  ><h6>Add a new Blog</h6></div>

                                    </div>
                                </div>

                            
                            
                            
                            
                             <div class="container-fluid">

                                <!--Links-->



                                <!--            FORM-->
                                <div class="row-sm-12 " >


                                        <form  class = "addBlogCon" action="addBlogPost" method="POST" >


                                            <div class="form-group row">

                                                <div class="col-sm-12">
                                                    <input type="hidden" name="title" id="title" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                </div>
                                            </div>



                                            <div class="form-group row">
<!--                                                <label for="title" class="col-3 col-form-label">Title</label>-->
                                                <div class="col-sm-12">
                                                    <input type="text" name="title" id="title" class="form-control" placeholder="Enter a Title"/>
                                                </div>
                                            </div>


                                            <div class="form-group row">
<!--                                                <label for="description" class="col-3 col-form-label">Description</label>-->
                                                <div class="col-sm-12">
                                                    <input type="text" name="description" id="description" class="form-control" placeholder="Enter description"/>
                                                </div>
                                            </div>



                                            <div class="form-group row">
                                                <!--                                                        <label for="description" class="col-3 col-form-label">User ID</label>-->
                                                <div class="col-12">
                                                    <input type="hidden" name="userId" id="userId" class="form-control" th:value="${#authentication.name}"/>
                                                </div>
                                            </div>





                                            <!--                       ADD Multiple Categories-->
                                            <a href="categories">Add a Category</a>
                                            <div class="form-group row">
<!--                                                <label for="categoryId" class="col-3 col-form-label">Categories</label>-->
                                                <div class="col-sm-12">
                                                    <select multiple id="categoryId" name="categoryId" class="form-control">
                                                        <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}">Category Name</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!--                       ADD Multiple Hash tags-->
                                            <a href="hashtags">Add a Hashtags</a>
                                            <div class="form-group row">
<!--                                                <label for="hashtagId" class="col-3 col-form-label">Hashtags</label>-->
                                                <div class="col-12">
                                                    <select multiple id="hashtagId" name="hashtagId" class="form-control">
                                                        <option th:each="h : ${hashtags}" th:value="${h.id}" th:text="${h.name}">Category Name</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <!--                TINYMCE-->
                                            <textarea id="content" name="content" >


  
                                            </textarea>

                                            <button type="submit" class="btn btn-primary">Create Blog</button>
                                        </form>


                                   

                                </div>











                            </div>



                            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                        </body>
                        </html>
